body {
	background-color:#E5F9E1 ;
}
.hed{
 width:100%;
 height:100px;
 background-color:white;
 overflow:hidden;
 background-image: url("");
	background-repeat:no-repeat;
	  background-size:cover;
	
	
}

.log{
width:250px;
height:40px;
background-color:;
overflow:hidden;
margin-left:80%;
margin-top:-70px;
}

.b{
	width:40px;
	height:40px;
	background-color:;
	overflow:hidden;
margin-left:50px;
margin-top:-40px;
 background-image: url("facebook-png-icon-follow-us-facebook-1.png");
	 background-repeat:no-repeat;
	  background-size:cover;
	  border:10px;
}
.a{
	width:40px;
	height:40px;
	background-color:;
	overflow:hidden;
	 background-image: url("home-logo-md.png");
	 background-repeat:no-repeat;
	  background-size:cover;
	
}
.c{
	width:40px;
	height:40px;
	background-color:;
	overflow:hidden;
margin-left:100px;
margin-top:-40px;
background-image: url("WhatsApp_Logo_1.png");
	 background-repeat:no-repeat;
	  background-size:cover;
	
}
.d{
	width:40px;
	height:40px;
	background-color:;
	overflow:hidden;
margin-left:150px;
margin-top:-40px;
background-image: url("instagram_PNG9.png");
	 background-repeat:no-repeat;
	  background-size:cover;
	  
}
.e{
	width:40px;
	height:40px;
	background-color:;
	overflow:hidden;
margin-left:200px;
margin-top:-40px;
background-image: url("1f9a438eaaf4f20885ecd763723479e7.png");
	 background-repeat:no-repeat;
	  background-size:cover;
}


.count{
	width:200px;
	height:100px;
	background-color:blue;
	overflow:hidden;
}

.web{
	height:70px;
	width:100px;
	background-color:none;
	margin-left:80%;
	font-size:30px;
	text-align:center;
	
	
}
.cimg{
	width:100%;
	height:640px;

	overflow:hidden;
	background-image: url("lake.jpg");
	background-repeat:no-repeat;
	  background-size:cover;
}
.mid{
	width:800px;
	height:100px;
	
	font-family:"Audiowide", sans-serif;
	color:white;
	text-align:center;
	padding-top:50px;
	font-size:60px;
	margin-left:25%;
	margin-top:250px;
	border-bottom:10px;
	border-color:red;
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(0,0,0,0.19);
	border-radius: 12px;
	
}
.new{
	height:300px;
	width:100%;
	background-color:white;
	
}
.join{
	width:300px;
	height:300px;
	background-color:white;
}
.one{
	height:50px;
	width:300px;
	background-color:#a7fcab;
	overflow:hidden;
	text-align:center;
	padding-top:15px;
	font-size:30px;
	margin-bottom:10px;

}
.bt{
	width:200px;
	height:50px;
	background-color:white;
	font-size:20px;
background-image:url("cover2.png");

	font-family:Arial Rounded MT Bold;
	border:1px solid green;
	border-radius: 5px 50px;
	 text-shadow: 1px 1px 4px #99ff99;
	 cursor: pointer;
	 
	
}
.frame{
	width:300px;
	height:290px;
	overflow:hidden;
	background-color:yellow;
	
	background-image:url("cover.png");
	border:1px solid black;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 0px;
	margin-top:0px;
	margin-left:20px;
	border-radius:8px;
}
.wh{
	width:100%;
	height:400px;
	overflow:hidden;
	background-color:green;
	margin-top:520px;
}	
	.wp{
	width:100%;
	height:300px;
	overflow:hidden;
	background-color:#ccffcc;
	margin-top:20px;
}
.why{
	width:300px;
	height:300px;
	background-image:url("plant_a_tree1.jpg") ;
	background-repeat:no-repeat;
	 background-size:cover;
	 font-size:40px;
	 text-align:center;
	 text-shadow: 2px 2px 4px #d9d9d9;
	 
	 
	 
	
	 
	
}
.what{
	width:300px;
	height:300px;
	background-image:url("lee1.jpg") ;
	background-repeat:no-repeat;
	 background-size:cover;
	 font-size:50px;
	 text-align:center;
	margin-left:50%;
	margin-top:-300px;
	text-shadow: 2px 2px 4px #d9d9d9;
	
}

	
	.class{
	width:100%;
	height:600px;
	overflow:hidden;
	background-color:#99ff99;
	margin-top:20px;
	
}
.life{
	text-align:center;
	font-size:40px;
	
	
	
}
.sus{
	
	text-align:center;
	font-size:12px;
}
	.wc{
	width:100%;
	height:500px;
	overflow:hidden;
	background-color:#ccffcc;
	margin-top:20px;
}
.wd{
	width:100%;
	height:500px;
	overflow:hidden;
	background-color:#ccffcc;
	margin-top:20px;
}
.we{
	width:100%;
	height:500px;
	overflow:hidden;
	background-color:#ccffcc;
	margin-top:20px;
}
.font{
	font-size:50px;
	 text-shadow: 2px 2px 5px green;
	 font-family:"Copperplate";
}
.on{
	width:401px;
	height:400px;
	overflow:hidden;
	background-color:;
	border:2px solid white;
		border-radius: 10px;
		margin-left:30px;
		margin-top:-40px;
		text-align:center;
		padding-left:5px;
		padding-right:5px;
}
.os{
	width:500px;
	height:350px;
	overflow:hidden;
	background-color:;
	border:2px solid white;
		border-radius: 10px;
		margin-top:-300px;
		margin-left:500px;
		text-align:center;
		padding-left:5px;
		padding-right:5px;
}
.op{
	width:401px;
	height:400px;
	overflow:hidden;
	background-color:;
	border:2px solid white;
		border-radius: 10px;
		margin-left:1060px;
		margin-top:-450px;
		text-align:center;
		padding-left:5px;
		padding-right:5px;
		list-style-type: none;
}
.forest{
width:450px;
	height:450px;
	overflow:hidden;
	background-color:;
	border:2px solid white;
margin-left:25px;
margin-top:25px;
background-image:url("forest1.jpg");
background-size:cover;
border-radius: 10px; 
text-align:center;
font-size:50px;
box-shadow: 10px 10px 5px #aaaaaa;

	}
	
.line{
	height:450px;
	width:.900px;
	border:2px solid white;
	border-radius: 10px;
	margin-left:65%;
	margin-top:10%
	background-color:black;
	
}
.niya{
width:450px;
	height:450px;
	overflow:hidden;
	background-color:;
	border:2px solid white;
margin-left:25px;
margin-top:25px;
background-image:url("w3.jpg");
background-size:cover;
border-radius: 10px; 
box-shadow: 10px 10px 5px #aaaaaa;
}
.land{
width:450px;
	height:450px;
	overflow:hidden;
	background-color:;
	border:2px solid white;
margin-left:25px;
margin-top:25px;
background-image:url("ida.jpg");
background-size:cover;
border-radius: 10px;
box-shadow: 10px 10px 5px #aaaaaa;
} 

.wf{
	
	width:100%;
	height:500px;
	overflow:hidden;
	background-color:#ccffcc;
	margin-top:20px;
	
}
.bio{
	width:450px;
	height:450px;
	overflow:hidden;
	background-color:;
	border:2px solid white;
margin-left:25px;
margin-top:25px;
background-image:url("bio.jpg");
background-size:cover;
border-radius: 10px;
box-shadow: 10px 10px 5px #aaaaaa;
}
.wg{
	
	width:100%;
	height:500px;
	overflow:hidden;
	background-color:#e6ffe6;
	margin-top:20px;
}
 .asd{
	 width:500px;
	 height:100px;
	 font-family:Calibri ;
	 margin-left:65%;
	 margin-top:-240px;
	
 }
 .wa{
	 width:300px;
	 height:50px;
	 background-color:#212820;
	 overflow:hidden;
	 color:white;
	 text-align:center;
	 font-size:30px;
	 font-family: Agency FB;
	  font-family:Calibri;
	  margin-top:9px;
	 
	
 }
.ka{
	 width:50px;
	 height:50px;
	 background-color:;
	 overflow:hidden;
	 margin-left:450px;
	 margin-top:-50px;
	 background-image:url("22.png");
	 background-size:cover;
	
}
.kb{
	 width:50px;
	 height:50px;
	 background-color:;
	 overflow:hidden;
	 margin-left:400px;
	 margin-top:-50px;
	 background-image:url("44.png");
	 background-size:cover;
	 
}
.kc{
	 width:50px;
	 height:50px;
	 background-color:;
	 overflow:hidden;
	 margin-left:350px;
	 margin-top:-50px;
	 background-image:url("33.png");
	 background-size:cover;
}
.kd{
	 width:50px;
	 height:50px;
	 background-color:;
	 overflow:hidden;
	 margin-left:300px;
	 margin-top:-50px;
	 background-image:url("11.png");
	 background-size:cover;
}
 





.footer{
	width:100%;
	height:200px;
	overflow:hidden;
	background-color:black;
	background-image:url("fott.png");
background-size:cover;
}

 

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 2px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  
 
}

.button1 {
  background-color:#212820; 
  color: white; 
  border: 2px solid #e0e0d1;
  text-shadow: 2px 2px 8px #99ff99;
}

.button2 {
  background-color:#212820; 
  color: white; 
  border: 2px solid #e0e0d1;
  text-shadow: 2px 2px 4px #99ff99;
}

.button3 {
  background-color: #212820; 
  color: white; 
  border: 2px solid #e0e0d1;
  text-shadow: 2px 2px 4px #99ff99;
}

.button4 {
  background-color: #212820;
  color: black;
  border: 2px solid #e7e7e7;
}

.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}
.tab{
	
	width:500px;
	height:100px;
	margin-left:80%;
	margin-top:150px;
	
}
.greenlogo{
	width:400px;
	height:150px;
	background-color:;
	margin-top:-90px;
	margin-left:10%;
	background-image:url("name.png");
	background-size:cover;
}
.picc{
	width:100%;
	height:300px;
	overflow:hidden;
	background-color:;
	margin-top:00px;
	
}
.card{
	width:300px;
	height:300px;
	background-color:yellow;
	box-shadow: 10px 10px 5px #aaaaaa;
	margin-top:-300px;
	margin-left:79%;
	font-size:25px;
	text-align:center;
	
	

}
.coni{
	width:300px;
	height:200px;
	background-color:white;
	background-image:url("kub.jpg");
	background-size:cover;
}
.doimg{
	width:300px;
	height:100px;
	background-color:white;
	margin-top:0px;
	overflow:hidden;
	cursor: pointer;
}
.card2{
	width:300px;
	height:300px;
	background-color:yellow;
	box-shadow: 10px 10px 5px #aaaaaa;
	margin-top:-300px;
	margin-left:55%;
	
	

}
.coni{
	width:300px;
	height:200px;
	background-color:white;
	background-image:url("kub.jpg");
	background-size:cover;
}
.doimg{
	width:300px;
	height:100px;
	background-color:white;
	margin-top:0px;
	overflow:hidden;
	cursor: pointer;
}
.card2{
	width:300px;
	height:300px;
	background-color:yellow;
	box-shadow: 10px 10px 5px #aaaaaa;
	margin-top:-300px;
	margin-left:55%;
	font-size:25px;
	text-align:center;
	
}
.coni2{
	width:300px;
	height:200px;
	background-color:white;
	background-image:url("sad.jpg");
	background-size:cover;
}
.doimg{
	width:300px;
	height:100px;
	background-color:white;
	margin-top:0px;
	overflow:hidden;
	cursor: pointer;
}
.card3{
	width:300px;
	height:300px;
	background-color:yellow;
	box-shadow: 10px 10px 5px #aaaaaa;
	margin-top:-300px;
	margin-left:30%;
	font-size:25px;
	text-align:center;
	
	
	

}
.coni3{
	width:300px;
	height:200px;
	background-color:white;
	background-image:url("tetss.jpg");
	background-size:cover;
}
.doimg{
	width:300px;
	height:100px;
	background-color:white;
	margin-top:0px;
	overflow:hidden;
}


.sugest{
	
	width:660px;
	height:420px;
	background-color:yellow;
	margin-left:53%;
	margin-top:-645px;
	
}
.eks{
	
	width:660px;
	height:220px;
	background-color:white;
	margin-top:260px;
}	
.dks{
	width:660px;
	height:220px;
	background-color:white;
	margin-top:-20px;
	
}

  
	
}
.cot3{
	width:200px;
	height:200px;
	background-color:gray;
	overflow:hidden;
	border-style: solid;
	 background-image:url("treeorg.png");
  background-size:cover;

  
  
	
}
.cot4{
	width:200px;
	height:200px;
	background-color:red;
	overflow:hidden;
	border-style: solid;
  border-width: 10px;

  margin-top:0px;
  border-color: white;
   background-image:url("treeorg.png");
  background-size:cover;
	
}
.cot5{
	width:200px;
	height:200px;
	background-color:red;
	overflow:hidden;
	border-style: solid;
  border-width: 10px;
margin-left:220px;
  margin-top:-220px;
  border-color: white;
   background-image:url("The-Nature-Conservancy2.jpg");
  background-size:cover;
  
	
}
.cot6{
	width:200px;
	height:200px;
	background-color:red;
	overflow:hidden;
	border-style: solid;
  border-width: 10px;
margin-left:440px;
  margin-top:-220px;
  border-color: white;
   background-image:url("tslogo-cover.jpg");
  background-size:cover;
  
	
}
.cotx{
	width:200px;
	height:200px;
	background-color:;
	overflow:hidden;
	border-style: solid;
  border-width: 10px;
margin-left:0px;
  margin-top:-220px;
  border-color: white;
  background-image:url("dddf.png");
  background-size:cover;
  
	
}
.coty{
	width:200px;
	height:200px;
	background-color:gray;
	overflow:hidden;
	border-style: solid;
	margin-left:220px;
	margin-top:-220px;
	  border-width: 10px;
	  border-color: white;
	  background-image:url("OTPReforistrationPartner.jpg");
  background-size:cover;

  
  
	
}
.cotz{
	width:200px;
	height:200px;
	background-color:gray;
	overflow:hidden;
	border-style: solid;
	margin-left:440px;
	margin-top:-220px;
	  border-width: 10px;
	  border-color: white;
	  background-image:url("wiki.jpg");
  background-size:cover;

  
  
	
}
.rock{
	
	width:400px;
	height:400px;
	background-color:yellow;
	background-image:url("youi.jpg");
	background-size:cover;
	overflow:hidden;
	margin-top:50px;
	margin-left:5%;
	box-shadow: 5px 5px 8px 10px #888888;
}
.whyin{
	background-color:;
	width:330px;
	height:220px;
	margin-left:330px;
	margin-top:-220px;
	border:2px solid white;
		border-radius: 10px;
		font-size:30px;
		text-align:center;
		padding-top:55px;
		padding-left:5px;
		padding-right:5px;
		font-family:Calibri;
		
	
}
.whatin{
	background-color:;
	width:330px;
	height:180px;
	margin-left:330px;
	margin-top:-220px;
	border:2px solid white;
		border-radius: 10px;
		font-size:30px;
		text-align:center;
		padding-top:75px;
		padding-left:5px;
		padding-right:5px;
		font-family:Calibri;
	
}
.joinbutton
{
	margin-top:70%;
	margin-left:40%;	
}
.forestinclude{
	width:454px;
	height:454px;
	background-color:	#e6ffe6;
	overflow:hidden;
	margin-left:550px;
	margin-top:-450px;
	 border-radius: 10px;
	
}
.forestinclude2{
	width:454px;
	height:454px;
	background-color:	#e6ffe6;
	overflow:hidden;
	margin-left:68%;
	margin-top:-454px;
	 border-radius: 10px;
}
.tex{
	margin-top:35%;
	font-size:50px;
	text-align:center;
	text-shadow: 2px 2px 4px white;
	
}
.headings{
	text-align:center;
	font-size:30px;
	padding-top:15px;
	padding-left:3px;
	padding-right:3px;
}
.headings2{
	text-align:center;
	font-size:30px;
	padding-top:15px;
}
.text3{
	text-align:center;
	font-size:18px;
	margin-top:50px;
	padding-left:5px;
	padding-right:5px;
}
.text4{
	line-height:25px;
	font-size:18px;
	margin-top:50px;
	padding-left:5px;
	padding-right:5px;
}
.text5{
	font-family:Calibri;
	
}
.butpossition{
	margin-top:50px;
	margin-left:45px;
}
.footertext{
	color:white;
	margin-left:48%;
	font-size:14px;
}
.logohead{
	height:105px;
	width:300px;
	background-color:;
	background-image:url("logoplanting.png");
	background-size:cover;
	padding:-1px;
}
.text9{
	font-size:25px;
	margin-top:-460px;
	
}
.downtext{
	width:100%;
	height:70px;
	 background: rgb(0, 0, 0);
	 background: rgba(0, 0, 0, 0.5);
	 color: #f1f1f1;
	margin-top:115px;
	padding:2px;
	text-align:center;
}
.downtext2{
	width:100%;
	height:70px;
	 background: rgb(0, 0, 0);
	 background: rgba(0, 0, 0, 0.5);
	 color: #f1f1f1;
	margin-top:125px;
	padding:2px;
	text-align:center;
}
a{
	color: #00ff00;
	text-decoration:none;
}